/* 
  Sree Charitha Meka  
  G01410061
This is a css file which includes the required css styles for CS department Information Page.
*/

/* Set the background color for the body */
body {
    background-color: #f5f5f5;
}

/* Style for the page heading */
.page-heading {
    border: 5px solid #006633;
    padding: 10px;
    background-color: #ffcc33;
    box-shadow: 2px 2px 2px #006633;
}

p {
    color: #212529;
}

/* Style for tables */
.table {
    background-color: #ffcc33;
    border: 5px solid #006633;
}

/* Style for h2 headings */
h2 {
    padding: 10px;
    text-align: center;
    color: #006633;
}

/* Style for the main container */
.container {
    padding-left: 10%;
    padding-right: 10%;
}

/* a {
    color: #006633 ;
    text-decoration: underline;
}

a:hover {
    color: #ffcc33 !important;
    text-decoration: underline !important;
}

a:active{
    color: #fff !important;
    text-decoration: none !important;
} */
