<!-- 
  Sree Charitha Meka  
  G01410061
-->
<!-- 
This is a html file which renders the Home page.
The code utilizes the Yummy Bootstrap restaurant website template and custom CSS styles. 
The code uses an external cascading stylesheet (CSS) files (main.css and bootstrap.min.css)
-->

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>642 Assignment</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>



  <body> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom">
  <!-- Navbar content -->
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item active">
      <a class="nav-link active" href="/">Welcome Page</a>
    </li>
    <li class="nav-item">
      <a href="/survey" class="nav-link">Student Survey</a>
    </li>
    <li class="nav-item">
      <a href="/all-surveys" class="nav-link">Survey List</a>
    </li>
  </ul>
</nav>

<!-- HOME PAGE CONTENT -->
<div id="home" class="content-container">
  <div id="hero" class="main-content">
    <div class="container">
      <div class="">
        <div
          class="w-full d-flex flex-column justify-content-center align-items-center text-center"
        >
          <h2 class="header-custom" style="color: #006633">
            Welcome to George Mason University
          </h2>
        </div>
        <div
          class="image-container text-center text-lg-start d-flex justify-content-center align-items-center"
        >
          <img
            src="http://charitha-swe-642-assignment-2.s3-website-us-east-1.amazonaws.com/university.jpg"
            class="img-fluid image"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright footer-container">
      &copy; Copyright <strong><span>SWE-642</span></strong
      >. All Rights Reserved
    </div>
  </div>
</div>
<!-- </body>
</html> -->
